<form method="post">
  <input type="text" name="item" placeholder="Enter new todo item...">
  <button type="submit">Add</button>
</form>

<ul>
  {{#each toDos}}
    <li data-id="{{_id}}">{{task}}</li>
  {{/each}}
</ul>